<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reecekidd.streakr">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GroupStreaks.GroupStreaks"
            android:label="@string/title_activity_group_streaks"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SoloStreaks.SoloStreaksActivity"
            android:label="@string/title_activity_solo_streaks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddFriend.Test"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageFriends.FriendsActivity"
            android:label="@string/title_activity_friends"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GroupStreakCreatedActivity"
            android:label="@string/title_activity_group_streak_created"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectFriendsForGroupStreakActivity"
            android:label="@string/title_activity_select_friends_for_group_streak"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewProfileActivity"
            android:label="@string/title_activity_view_profile" />
        <activity
            android:name=".AddFriend.AddFriendActivity"
            android:label="@string/title_activity_add_friend" />
        <activity
            android:name=".ManageStreaks"
            android:label="@string/title_activity_manage_streaks" />
        <activity
            android:name=".CreateGroupStreak.CreateGroupStreak"
            android:label="@string/title_activity_create_group_streak" />
        <activity
            android:name=".FriendStreakForfeitActivity"
            android:label="@string/title_activity_friend_streak_forfeit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FriendStreakRewardActivity"
            android:label="@string/title_activity_friend_streak_reward"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserFeedActivity"
            android:label="@string/title_user_feed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateSoloStreak.CreateSoloStreakActivity"
            android:label="@string/title_activity_create__solo_streak" />
        <activity
            android:name=".SoloStreakCreated.SoloStreakCreatedActivity"
            android:label="@string/title_activity_solo_streak_created" />
    </application>

</manifest>